@import url("https://fonts.googleapis.com/css?family=Be+Vietnam+Pro:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic");

:root {
  --grayishBlue: hsl(227, 12%, 61%);
  --darkBlue: hsl(233, 12%, 13%);
  --paleRed: hsl(13, 100%, 96%);
  --lightGray: hsl(0, 0%, 98%);
  --brightRed: hsl(12, 88%, 59%);
  --blue: hsl(228, 39%, 23%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Be Vietnam Pro", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  font-size: 18px;
  width: 100vw;
  position: relative;
  overflow-x: hidden;
}

.backdrop {
  position: absolute;
  top: 0;
  background-image: linear-gradient(white, black, black, black, black);
  opacity: 0.5;
  z-index: 2;
  width: 100%;
  height: 100%;
  display: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

p {
  line-height: 1.625;
  color: var(--grayishBlue);
  font-weight: 400;
  font-size: 1rem;
}

ul li {
  list-style-type: none;
  padding-block: 10px;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: background-color 0.3s;
  outline: none;
}

.email-box input[type="text"]:focus {
  outline: none;
}

.email-box input[type="submit"]:focus {
  outline: 2px solid white;
}

.orange:focus,
.get-started button:focus {
  outline: 2px solid var(--darkBlue);
}

.container {
  width: 85%;
  margin-inline: auto;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block: 35px;
  flex-wrap: wrap;
  z-index: 3;
  position: relative;
}

.logo {
  display: flex;
  align-items: center;
}

nav {
  margin-inline: auto;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  padding-block: 35px;
  border-radius: 8px;
  z-index: 5;
  gap: 5px;
  position: absolute;
  top: 90px;
  right: 0;
  left: 0;
  animation: pop-in 0.1s;
}

nav a {
  display: inline-block;
  width: 100%;
  text-align: center;
  color: var(--blue);
  font-weight: 700;
  font-size: 16px;
  padding-block: 10px;
  transition: 0.2s;
}

nav a:hover {
  color: var(--grayishBlue);
}

.hidden {
  display: none;
}

.icon {
  cursor: pointer;
}

.hero-section {
  z-index: 1;
  width: 100%;
  padding-bottom: 20px;
  height: 100%;
}

.hero-section img {
  width: 100%;
}

.first-image,
.second-image {
  position: absolute;
  z-index: -1;
}

.first-image {
  top: -40px;
  right: -72px;
}

.second-image {
  top: 4.6rem;
  right: -13.2rem;
}

.hero-text {
  margin-top: 10px;
  text-align: center;
  position: relative;
}

.hero-header-text {
  font-size: 2.2rem;
  color: var(--blue);
}

.hero-header-para {
  padding: 10px 10px 25px;
}

.btn {
  padding: 14px 30px;
  border-radius: 30px;
  font-weight: 700;
}

.orange {
  color: white;
  background-color: var(--brightRed);
  box-shadow: 0 10px 15px -8px var(--brightRed), 0 4px 6px -4px var(--brightRed);
}

.orange:hover {
  opacity: 0.6;
}

/*************** About Us section start***********/

.about-us {
  margin-top: 20px;
  padding: 70px 0;
  min-height: 100%;
}

.about-us-header {
  text-align: center;
}

.about-us-header h2 {
  padding: 0 20px;
  font-size: 1.8rem;
  color: var(--blue);
}

.about-us-header p {
  font-size: 0.9rem;
  margin: 25px 0;
}

.mission {
  margin-top: 25px;
}

.mission-header {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: var(--paleRed);
  border-radius: 20px 0 0 20px;
}

.mission-header span {
  color: white;
  background-color: var(--brightRed);
  padding: 7px 25px;
  border-radius: 20px;
}

.mission-header h4 {
  color: var(--blue);
  font-size: 16px;
  font-weight: 700;
}

.mission-container{
  margin-inline: 20px;
}

.mission-statement {
  text-align: left;
  color: var(--grayishBlue);
  font-size: 0.9rem;
  padding: 15px 20px 15px 4px;
}

/*************** About Us section end ***********/

/********* Reviews start *********/

.review {
  text-align: center;
  margin-block: 50px;
  padding-block-start: 30px;
  min-height: 100%;
}

.review h2 {
  font-size: 1.8rem;
  color: var(--blue);
}

.card-container{
  margin-bottom: 60px;
}

.inner-card {
  background-color: var(--lightGray);
  padding: 70px 20px 40px;
}

.card {
  display: block;
}

.card img {
  width: 25%;
  position: relative;
  top: 50px;
}

.name {
  display: inline-block;
  font-weight: 700;
  margin-bottom: 20px;
  color: var(--blue);
}

.card-text {
  font-size: 0.85rem;
}

.review .btn{
  margin-top: 30px;
}

/********* Reviews end *********/

/********* Get started section *********/

.get-started {
  background: url("images/bg-simplify-section-mobile.svg") no-repeat center left;
  background-color: var(--brightRed);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 100px 30px;
}

.get-started h1 {
  text-align: center;
  color: white;
  font-size: 2.3rem;
}

.get-started button {
  margin-block: 30px;
  background-color: white;
  color: var(--brightRed);
}

.get-started button:hover {
  color: var(--paleRed);
}

/********* Get started section end *********/

/********** Footer  start***********/

/* Footer */

footer {
  width: 100%;
  height: 100%;
  background-color: var(--darkBlue);
  padding-block: 40px;
}

footer .container {
  width: 80%;
  position: relative;
  display: flex;
  flex-direction: column-reverse;
}

.email-box {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 30px;
  gap: 12px;
  width: 100%;
  position: relative;
}

.email-box input[type="text"]::placeholder {
  color: var(--grayishBlue);
}

.email-box input[type="text"] {
  padding: 0 10px 0 20px;
  border: none;
  border-radius: 30px;
  font-weight: 700;
  width: 71%;
}

.email-box input[type="submit"] {
  border: none;
  background-color: var(--brightRed);
  color: white;
  cursor: pointer;
}

.error {
  position: absolute;
  top: 50px;
  padding: 5px 20px;
  color: var(--brightRed);
  font-style: italic;
  font-size: 0.9rem;
  transition: padding 0.25s ease-in-out;
}

.middle {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.middle a {
  display: inline-block;
  color: white;
  width: 100%;
}

.middle a:hover {
  color: var(--brightRed);
}

.bottom {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  gap: 50px;
  margin: 30px 0;
}

.sm-links a {
  color: white;
}

.sm-links a svg {
  transform: scale(1.3);
}

.sm-links a:hover {
  color: var(--brightRed);
}

.sm-links {
  width: 100%;
  margin: 20px auto 0;
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: space-between;
}

.copyright {
  position: absolute;
  bottom: -30px;
 text-align: center;
 left: 0;right: 0;
}

.attribution {
  background-color: var(--darkBlue);
  padding: 20px;
  text-align: center;
  font-size: 0.9rem;
  color: white;
  font-weight: 700;
}

.attribution a {
  text-decoration: underline;
  color: var(--brightRed);
}

.close,
.desktopBtn,
.error {
  display: none;
}

/********* Footer end *********/

/********* Media Queries ********/
@media only screen and (min-width: 1024px) {
  body {
    font-size: 18px;
    width: 100vw;
    position: relative !important;
    overflow-x: hidden;
  }

  .menu,
  .close,
  .backdrop {
    display: none !important;
  }

  .desktopBtn {
    display: block;
  }

  .container {
    width: 80%;
  }

  nav {
    margin: 0 auto;
    display: flex !important;
    flex-direction: row;
    padding: 0;
    border-radius: 0px;
    z-index: 0;
    gap: 25px;
    position: relative;
    top: 0;
    animation: pop-in 0.1s;
    background-color: transparent;
  }

  nav a {
    display: inline-flex;
    width: auto;
    font-weight: 400;
    padding: 10px 0;
  }

  .hero-section {
    min-height: 100%;
  }

  .hero-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    margin: 50px auto;
  }

  .hero-image {
    width: 40%;
  }

  .hero-text {
    max-width: 500px;
    text-align: left;
  }

  .hero-header-text {
    font-size: 3.2rem;
  }

  .hero-header-para {
    max-width: 370px;
  }

  /* About Us section */
  .about-us {
    padding: 50px 0;
    width: 80%;
    margin: 30px auto 0;
    display: flex;
    justify-content: space-between;
  }

  .about-us-header {
    text-align: left;
  }

  .about-us-header h2 {
    padding: 20px 0 0;
    font-size: 2.3rem;
    max-width: 450px;
  }

  .about-us-header p {
    max-width: 330px;
    font-size: 1rem;
  }

  .mission-container {
    width: 70%;
  }

  .mission-header {
    gap: 20px;
    background-color: white;
  }

  .mission-statement {
    margin-left: 89px;
  }

  /* Reviews */
  .review.container{
    width: 100%;
  }
  .card-container {
    width: 100%;
    margin-bottom: 0;
  }

  .carousel-cell {
    display: inline-block;
    height: 100%;
    width: 500px;
    padding-inline: 15px;
  }

  .card img {
    width: 25%;
    position: relative;
  }

  .flickity-page-dots{
    display: none;
  }

  /* Get Started  */

  .get-started {
    background: url("images/bg-simplify-section-desktop.svg") no-repeat center
      left;
    background-color: var(--brightRed);
    width: 100%;
    padding: 40px 150px;
    flex-direction: row;
  }

  .get-started h1 {
    max-width: 450px;
    text-align: left;
    line-height: 1.5;
  }

  /* Footer start */
  footer .container {
    flex-direction: row;
    justify-content: space-between;
  }

  .bottom {
    flex-direction: column;
    justify-content: space-between;
    gap: 0;
    margin: 0;
  }

  .email-box input[type="text"] {
    width: auto;
  }
  .sm-links {
    width: 100%;
  }

  .middle {
    justify-content: space-between;
    width: 31%;
  }

  .email-section {
    position: relative;
  }

  .copyright {
    bottom: 0;
    right: 0;
  }

  /* Footer end */
}

@keyframes pop-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


/* Flickity Styles */
/* position dots in carousel */
.flickity-page-dots {
  bottom: -50px;
}
/* white circles */
.flickity-page-dots .dot {
  width: 12px;
  height: 12px;
  opacity: 1;
  background: transparent;
  border: 2px solid var(--brightRed);
}
/* fill-in selected dot */
.flickity-page-dots .dot.is-selected {
  background: var(--brightRed);
}

/* big previous & next buttons */
.flickity-prev-next-button {
  width: 0;
  height: 0;
  display: none;
}